.space {
  transform: translateY(-120px);
  background:
  radial-gradient(circle at 20% 30%, rgba(255,255,255,0.12) 1px, transparent 1px),
  radial-gradient(circle at 70% 60%, rgba(255,255,255,0.10) 1px, transparent 1px),
  radial-gradient(circle at center, #05003a, #000);
background-size: 240px 240px, 320px 320px, auto;
}



.sun {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 200px rgba(255, 215, 0, 0.9);
}


.planet {
  box-shadow: 0 0 20px rgba(255,255,255,0.8);
}

.orbit {
  border: 2px solid rgba(255, 255, 255, 0.25); /* au lieu de dashed 0.12 */
}


.orbit1 {
  width: 200px;
  height: 200px;
  animation-duration: 12s;
}

.orbit2 {
  width: 320px;
  height: 320px;
  animation-duration: 20s;
}

.orbit3 {
  width: 460px;
  height: 460px;
  animation-duration: 30s;
}

.planet-1 { width: 26px; height: 26px; }
.planet-2 { width: 34px; height: 34px; }
.planet-3 { width: 42px; height: 42px; }

.planet {
  box-shadow: 0 0 18px rgba(255,255,255,0.6);
}


@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
